<h2>{{photoList.album.title}}</h2>

<div class="image-container">
  <div ng-repeat="photo in photoList.photos | startFrom:currentPage*pageSize | limitTo:pageSize">
    <a ng-href="{{photo.url}}" ><img ng-src="{{photo.thumbnailUrl}}"></a>
  </div>
</div>

<nav>

  <button type="button"
          class="btn btn-default"
          ng-disabled="currentPage == 0"
          ng-click="currentPage=currentPage-1">
    Previous
  </button>

  <span>{{currentPage+1}}/{{numberOfPages()}}</span>

  <button type="button"
          class="btn btn-default"
          ng-disabled="currentPage >= length/pageSize - 1"
          ng-click="currentPage=currentPage+1">
    Next
  </button>

</nav>

<div ng-hide="currentImage === null">
  <p>TEST</p>
  <img ng-src="{{currentImage.url}}">
</div>
