<h2>{{albumList.user.name}}</h2>

<div class="album-container">
  <div>
    <div ng-repeat="album in albumList.albums | startFrom:currentPage*pageSize | limitTo:pageSize">
      <a href="/#/album/{{album.id}}"><h3>{{album.title}}</h3></a>
    </div>
  </div>
</div>

<nav>

  <button type="button"
          class="btn btn-default"
          ng-disabled="currentPage == 0"
          ng-click="currentPage=currentPage-1">
    Previous
  </button>

  <span>{{currentPage+1}}/{{numberOfPages()}}</span>

  <button type="button"
          class="btn btn-default"
          ng-disabled="currentPage >= length/pageSize - 1"
          ng-click="currentPage=currentPage+1">
    Next
  </button>

</nav>
